<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.rj.dao.PartsEntityMapper" >
  <resultMap id="BaseResultMap" type="com.bysj.rj.entity.PartsEntity" >
    <id column="part_id" property="partId" jdbcType="BIGINT" />
    <result column="part_name" property="partName" jdbcType="VARCHAR" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="type_number" property="typeNumber" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="produce_time" property="produceTime" jdbcType="BIGINT" />
    <result column="storage_time" property="storageTime" jdbcType="BIGINT" />
    <result column="partition" property="partition" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    part_id, part_name, serial_number, type_number, standard, brand, business_name, produce_time, 
    storage_time, partition
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bysj.rj.entity.PartsEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from parts
    where part_id = #{partId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from parts
    where part_id = #{partId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bysj.rj.entity.PartsEntityExample" >
    delete from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bysj.rj.entity.PartsEntity" >
    insert into parts (part_id, part_name, serial_number, 
      type_number, standard, brand, 
      business_name, produce_time, storage_time, 
      partition)
    values (#{partId,jdbcType=BIGINT}, #{partName,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{typeNumber,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{businessName,jdbcType=VARCHAR}, #{produceTime,jdbcType=BIGINT}, #{storageTime,jdbcType=BIGINT}, 
      #{partition,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.rj.entity.PartsEntity" >
    insert into parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partId != null" >
        part_id,
      </if>
      <if test="partName != null" >
        part_name,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="typeNumber != null" >
        type_number,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="produceTime != null" >
        produce_time,
      </if>
      <if test="storageTime != null" >
        storage_time,
      </if>
      <if test="partition != null" >
        partition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partId != null" >
        #{partId,jdbcType=BIGINT},
      </if>
      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeNumber != null" >
        #{typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="produceTime != null" >
        #{produceTime,jdbcType=BIGINT},
      </if>
      <if test="storageTime != null" >
        #{storageTime,jdbcType=BIGINT},
      </if>
      <if test="partition != null" >
        #{partition,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bysj.rj.entity.PartsEntityExample" resultType="java.lang.Integer" >
    select count(*) from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update parts
    <set >
      <if test="record.partId != null" >
        part_id = #{record.partId,jdbcType=BIGINT},
      </if>
      <if test="record.partName != null" >
        part_name = #{record.partName,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null" >
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.typeNumber != null" >
        type_number = #{record.typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null" >
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.businessName != null" >
        business_name = #{record.businessName,jdbcType=VARCHAR},
      </if>
      <if test="record.produceTime != null" >
        produce_time = #{record.produceTime,jdbcType=BIGINT},
      </if>
      <if test="record.storageTime != null" >
        storage_time = #{record.storageTime,jdbcType=BIGINT},
      </if>
      <if test="record.partition != null" >
        partition = #{record.partition,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update parts
    set part_id = #{record.partId,jdbcType=BIGINT},
      part_name = #{record.partName,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      type_number = #{record.typeNumber,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      business_name = #{record.businessName,jdbcType=VARCHAR},
      produce_time = #{record.produceTime,jdbcType=BIGINT},
      storage_time = #{record.storageTime,jdbcType=BIGINT},
      partition = #{record.partition,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.rj.entity.PartsEntity" >
    update parts
    <set >
      <if test="partName != null" >
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeNumber != null" >
        type_number = #{typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="produceTime != null" >
        produce_time = #{produceTime,jdbcType=BIGINT},
      </if>
      <if test="storageTime != null" >
        storage_time = #{storageTime,jdbcType=BIGINT},
      </if>
      <if test="partition != null" >
        partition = #{partition,jdbcType=CHAR},
      </if>
    </set>
    where part_id = #{partId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.rj.entity.PartsEntity" >
    update parts
    set part_name = #{partName,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      type_number = #{typeNumber,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      produce_time = #{produceTime,jdbcType=BIGINT},
      storage_time = #{storageTime,jdbcType=BIGINT},
      partition = #{partition,jdbcType=CHAR}
    where part_id = #{partId,jdbcType=BIGINT}
  </update>
</mapper>