<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.rj.dao.PartsEntityMapper" >
  <resultMap id="BaseResultMap" type="com.bysj.rj.entity.PartsEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="part_num" property="partNum" jdbcType="INTEGER" />
    <result column="part_name" property="partName" jdbcType="VARCHAR" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="produce_time" property="produceTime" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="partition" property="partition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, part_num, part_name, serial_num, ext, standard, brand, business_name, produce_time, 
    create_time, partition
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bysj.rj.entity.PartsEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from parts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bysj.rj.entity.PartsEntityExample" >
    delete from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bysj.rj.entity.PartsEntity" >
    insert into parts (id, part_num, part_name, 
      serial_num, ext, standard, 
      brand, business_name, produce_time, 
      create_time, partition)
    values (#{id,jdbcType=INTEGER}, #{partNum,jdbcType=INTEGER}, #{partName,jdbcType=VARCHAR}, 
      #{serialNum,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, #{produceTime,jdbcType=DATE}, 
      #{createTime,jdbcType=DATE}, #{partition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.rj.entity.PartsEntity" >
    insert into parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partNum != null" >
        part_num,
      </if>
      <if test="partName != null" >
        part_name,
      </if>
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="produceTime != null" >
        produce_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="partition != null" >
        partition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partNum != null" >
        #{partNum,jdbcType=INTEGER},
      </if>
      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="produceTime != null" >
        #{produceTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="partition != null" >
        #{partition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bysj.rj.entity.PartsEntityExample" resultType="java.lang.Integer" >
    select count(*) from parts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update parts
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partNum != null" >
        part_num = #{record.partNum,jdbcType=INTEGER},
      </if>
      <if test="record.partName != null" >
        part_name = #{record.partName,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNum != null" >
        serial_num = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null" >
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.businessName != null" >
        business_name = #{record.businessName,jdbcType=VARCHAR},
      </if>
      <if test="record.produceTime != null" >
        produce_time = #{record.produceTime,jdbcType=DATE},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.partition != null" >
        partition = #{record.partition,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update parts
    set id = #{record.id,jdbcType=INTEGER},
      part_num = #{record.partNum,jdbcType=INTEGER},
      part_name = #{record.partName,jdbcType=VARCHAR},
      serial_num = #{record.serialNum,jdbcType=VARCHAR},
      ext = #{record.ext,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      business_name = #{record.businessName,jdbcType=VARCHAR},
      produce_time = #{record.produceTime,jdbcType=DATE},
      create_time = #{record.createTime,jdbcType=DATE},
      partition = #{record.partition,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.rj.entity.PartsEntity" >
    update parts
    <set >
      <if test="partNum != null" >
        part_num = #{partNum,jdbcType=INTEGER},
      </if>
      <if test="partName != null" >
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null" >
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="produceTime != null" >
        produce_time = #{produceTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="partition != null" >
        partition = #{partition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.rj.entity.PartsEntity" >
    update parts
    set part_num = #{partNum,jdbcType=INTEGER},
      part_name = #{partName,jdbcType=VARCHAR},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      produce_time = #{produceTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      partition = #{partition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>