<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>当前执行计划</title>

    <!-- Mobile Metas  响应式布局所需的meta元素配置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <style>
        ::-webkit-scrollbar {
            width: 0px;
        }

    </style>
    <!-- 引入外部CSS js 文件 -->
    #parse("includeLink.html")
    <!-- end 引入外部CSS js 文件 -->
</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        #parse("includeSideMenu.html")
        <!-- End Sidebar -->

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li>
                            <a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-briefcase"></i>待生产计划
                            </a>
                        </li>

                    </ol>
                </div>
                <div class="pull-right">
                    <h2>待生产计划</h2>
                </div>
            </div>
            <!-- End Page Header -->

            <div class="row">
                <div class="panel-heading  ">
                    <div class="panel panel-primary" id="panel-1" data-portlet-item>
                        <div class="panel-heading  ">
                            <h6>
                                <i class="fa fa-cogs"></i>1号生产车间
                            </h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div style="padding:5px">
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="alert alert-info">
                                            <div class="row  ">
                                                <div class="col-md-4 col-sm-6">
                                                    <strong>转向架种类：</strong> <span>$!resultJSON.truckType0</span>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <strong>计划单号：</strong> <span>$!resultJSON.truckPlanNumber0</span>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <strong>日计划：</strong> <span>$!resultJSON.dayPlanDate0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="tabs tabs-bottom tabs-info">
                                            <div class="tab-content" style="padding: 10px;">
                                                <div id="home14" class="tab-pane active">
                                                    <div class="panel panel-default"
                                                         style="margin:0px;padding:0px; ">
                                                        <div class="panel-body"
                                                             style="background: #333; color: #aaa;height: 400px; padding-left:15px;  ">
                                                            <div class="row">
                                                                <div id="workplaceOne_1" class=" col-md-4 col-sm-4 "
                                                                     style="height: 370px; overflow-y: scroll;   padding: 5px;">
                                                                    <div>

                                                                    </div>
                                                                </div>
                                                                <div id="workplaceOne_2"
                                                                     class=" col-md-4 col-sm-4 "
                                                                     style="height: 370px; overflow-y: scroll;   ">
                                                                    <div>

                                                                    </div>
                                                                </div>
                                                                <div id="workplaceOne_3"
                                                                     class=" col-md-4 col-sm-4 "
                                                                     style="height: 370px; overflow-y: scroll;  ">
                                                                    <div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div id="profile14" class="tab-pane  ">
                                                    <div class="panel panel-default">
                                                        <video width="100%" height="400" controls autoplay>
                                                            <source src="movie.ogg" type="video/ogg">
                                                            <source src="movie.mp4" type="video/mp4">
                                                            <source src="movie.webm" type="video/webm">
                                                            <object data="movie.mp4" width="100%" height="400">
                                                                <embed width="100%" height="400" src="${ctxPath}/video/videos.mp4">
                                                            </object>
                                                        </video>

                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs nav-right">
                                                <li class="active">
                                                    <a href="#home14" data-toggle="tab"><i
                                                            class="fa fa-home"></i>生产监控</a>
                                                </li>
                                                <li>
                                                    <a href="#profile14" data-toggle="tab">视频监控</a>
                                                </li>
                                                <li style="float:right;">
                                                    <a data-toggle="modal" data-target="#machineStart"><i
                                                            class="fa fa-cogs"></i> &nbsp;起停控制</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Main Page -->

    <!-- 	描述：工位机器的模态框 -->
    <div class="modal fade" id="machineSet" data-position="center" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-doDayPlan" role="document" data-position="center" style=" margin: 200px auto; ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">工位机器设置</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-6 col-dm-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">工作速递</span>
                                    <select class="form-control">
                                        <option>快</option>
                                        <option>中</option>
                                        <option>慢</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-dm-6">
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <span class="input-group-addon" id="basic-addon2">xxxx</span>
                                    <select class="form-control">
                                        <option>xxxx</option>
                                        <option>xxxx</option>
                                        <option>xxxx</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" class="form-control" name="dp_id" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- End 工位机器的模态框-->

    <!-- 	描述：车间机器起停控制的模态框 -->
    <div class="modal fade" id="machineStart" data-position="center" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-doDayPlan" role="document" data-position="center" style=" margin: 200px auto; ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">车间机器起停控制</h4>
                </div>
                <div class="modal-body">
                    <strong style="display: inline;">确定要启动运行吗？</strong>
                    <strong style="display: none;">确定要停止运行吗？</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="startCreate()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End 工位机器的模态框-->
</div>
<!--/container-->
<script src="${ctxPath}/assets/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        // 指定websocket路径

        var websocket = new WebSocket('ws://localhost:8080/truck-1/websocket/chat');

        websocket.onmessage = function (event) {
            // 接收服务端的实时日志并添加到HTML页面中
            var item = JSON.parse(event.data);
            $("#workplaceOne_1 div").append(item.employeePlace + "&nbsp;&nbsp;" + item.employeeName + "&nbsp;&nbsp;" + item.employeeGrade + "<br>");
            $("#workplaceOne_1").scrollTop($("#workplaceOne_1 div").height() - $("#workplaceOne_1").height());

            $("#workplaceOne_2 div").append(item.truckNumber + "&nbsp;&nbsp;" + item.state + "&nbsp;&nbsp;" + item.date + "<br>");
            $("#workplaceOne_2").scrollTop($("#workplaceOne_2 div").height() - $("#workplaceOne_2").height());

            $("#workplaceOne_3 div").append(item.currentOperation + "<br>");
            $("#workplaceOne_3").scrollTop($("#workplaceOne_3 div").height() - $("#workplaceOne_3").height());

        };

        websocket.onerror = function (event) {
            // 接收服务端的实时日志并添加到HTML页面
            alert(event.data)
        }
        websocket.onopen = function () {
            // 接收服务端的实时日志并添加到HTML页面中
            $("#log-container_1 div").append(event.data + "<p> </p>");
            // 滚动条滚动到最低部
            $("#log-container_1").scrollTop($("#log-container_1 div").height() - $("#log-container_1").height());
        }

        window.onbeforeunload = function (event) {
            websocket.close();
        }


    });

    function startCreate() {
        $.ajax({
            type: "GET",
            url: "${ctxPath}/start",
            dataType: "json",
            success: function (data) {
                if(data.msg===true){
                    alert("启动成功！");
                }
            },
            error: function (data) {
                alert("启动失败！请检查网络,或者服务器未启动！");
            }
        });

        $('#machineStart').modal('hide');
    }

</script>
</body>

</html>