<div class="navbar " role="navigation">
    <div class="container-fluid container-nav">
        <!-- Navbar Action -->
        <ul class="nav navbar-nav navbar-actions navbar-left">
            <li class="visible-md visible-lg">
                <a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a>
            </li>
            <li class="visible-xs visible-sm">
                <a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a>
            </li>
        </ul>

        <!-- Navbar Right -->
        <div class="navbar-right">

            <!-- Userbox -->
            <div class="userbox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <figure class="profile-picture hidden-xs">
                        <img src="assets/img/avatar.jpg" class="img-circle" alt=""/>
                    </figure>
                    <div class="profile-info">
                        <span class="name">申娇龙</span> <span class="role" style="margin-top: 5px;"><i
                            class="fa fa-circle bk-fg-success"></i> 超级用户 </span>
                    </div>
                    <i class="fa custom-caret"></i>
                </a>
                <div class="dropdown-menu" style="padding-top: 70px;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="page-profile.html"><i class="fa fa-user"></i> 修改信息
                            </a>
                        </li>

                        <li>
                            <a href="page-login.html"><i class="fa fa-power-off"></i> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Userbox -->
        </div>
        <!-- End Navbar Right -->
    </div>
</div>