<div class="sidebar">
    <div class="sidebar-collapse">
        <!-- Sidebar Header Logo-->
        <div class="sidebar-header" style="padding: 0px;">
            <img src="assets/img/logo2.jpg" class="img-responsive" alt=""
                 style="width:240px;height:inherit;margin: 0px;"/>
        </div>
        <!-- Sidebar Menu-->
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                    <div class="panel-body text-center">
                        <div class="flag">
                            <img src="assets/img/flags/zhong.jpg" style=" height: 45px;" class="img-flags" alt=""/>
                        </div>
                    </div>
                    <li>
                        <a href="willDoPlan.html"> <i class="fa fa-laptop"
                                                      aria-hidden="true"></i><span>待生产计划</span>
                        </a>
                    </li>
                    <li>
                        <a href="doPlan.html"> <span class="pull-right label label-danger">235</span> <i
                                class="fa fa-envelope" aria-hidden="true"></i><span>当前执行计划</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a> <i class="fa fa-copy" aria-hidden="true"></i><span>转向架生产监控</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="willDoPlan.html"><span class="text">
													待生产计划</span></a>
                            </li>
                            <li>
                                <a href="doPlan.html"><span class="text">
													当前执行计划</span></a>
                            </li>
                            <li>
                                <a href="truckSelect.html"><span class="text">
													生产信息查询</span></a>
                            </li>
                            <li>
                                <a href="statistics.html"><span class="text"> 生产信息统计</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a> <i class="fa fa-tasks" aria-hidden="true"></i><span>信息检测管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="$!{ctxPath}/checkInfoManager"><span class="text"> 检测信息管理</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a> <i class="fa fa-list-alt" aria-hidden="true"></i><span>配件库存管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="$!{ctxPath}/partManager"><span class="text">
													配件数据管理</span></a>
                            </li>
                            <li>
                                <a href="$!{ctxPath}/partsList"><span class="text">
													配件Excel导入</span></a>
                            </li>
                            <li>
                                <a href="$!{ctxPath}/ioRecord"><span class="text">配件出库统计查询</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a> <i class="fa fa-table" aria-hidden="true"></i><span>系统管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="userAuthorManager.html"><span class="text"> 用户与权限管理</span></a>
                            </li>
                            <li>
                                <a href="table-basic.html"><span class="text">
													生产工艺管理</span></a>
                            </li>
                            <li>
                                <a href="table-responsive.html"><span class="text"> 日常管理</span></a>
                            </li>
                            <li>
                                <a href="table-editable.html"><span class="text">
													数据安全管理</span></a>
                            </li>
                            <li>
                                <a href="table-responsive.html"><span class="text"> 系统管理</span></a>
                            </li>
                            <li>
                                <a href="table-editable.html"><span class="text">
													配件存放位置管理</span></a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu-->
    </div>
    <!-- Sidebar Footer-->
    <div class="sidebar-footer">
        <div class="small-chart-visits" style="margin:0px,auto;">
            <div class="small-chart" id="sparklineLineVisits"></div>
            <div class="small-chart-info">
                <label>New Visits</label> <strong>70,79%</strong>
            </div>
            <script type="text/javascript">
                var sparklineLineVisitsData = [15, 16, 17, 19, 15,
                    25, 23, 35, 29, 15, 30, 45];
            </script>
        </div>

    </div>
    <!-- End Sidebar Footer-->
</div>