<!DOCTYPE html>
<html lang="en">

<head>

<!-- Basic -->
<meta charset="UTF-8" />

<title>Advanced Table | Fire - Admin Template</title>

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- 引入外部CSS js 文件 -->
	#parse("includeLink.html")
	<!-- end 引入外部CSS js 文件 -->

</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
	<div class="row">
		<!-- Sidebar -->
		#parse("includeSideMenu.html")
		<!-- End Sidebar -->

			<!-- Main Page -->
			<div class="main sidebar-minified">
				<!-- Page Header -->
				<div class="page-header">
					<div class="pull-left">
						<ol class="breadcrumb visible-sm visible-md visible-lg">
							<li><a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
							</li>
							<li class="active"><a href="#"><i
									class="fa fa-briefcase"></i>配件库存出入统计 </a></li>

						</ol>
					</div>
					<div class="pull-right">
						<h2>配件库存出入统计</h2>
					</div>
				</div>
				<!-- End Page Header -->
				<div class="row  ">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-default bk-bg-white">
							<div class="panel-heading bk-bg-white">
								<h6>
									<i class="fa fa-table red"></i><span class="break"></span>出入库记录
								</h6>
								<div class="panel-actions">
									<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
									<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="panel-body table-responsive">
								
								<div class="panel panel-default"
									style="margin-top: 15px; style=" border:1pxsolidred ">
									<div class="panel-heading ">
										<div class="row " id="dayPlanRow">
											<div class=" col-sm-3 col-md-2 " style="text-align: right; ">
												<button id="addCheckInfo" class="btn btn-info "
													type="button ">添加出入库记录</button>
											</div>
										</div>
									</div>
									<div class="panel-body ">
										<div class="table-responsive ">
											<table id="checkInfoTable"
												class="table table-bordered table-striped ">
												<thead>
													<tr>
														<th>配件名称</th>
														<th>型号</th>
														<th>数目</th>
														<th>类型</th>
														<th>库存分区</th>
														<th>库存员</th>
														<th>日期</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td class="actions " style="width: 80px; "><a
															href="# " class="hidden on-editing save-row "><i
																class="fa fa-save "></i></a> <a href="# "
															class="hidden on-editing cancel-row "><i
																class="fa fa-times "></i></a> <a href="# "
															class="on-default edit-row "><i class="fa fa-pencil "></i></a>
															<a href="# " class="on-default remove-row "><i
																class="fa fa-trash-o "></i></a></td>
													</tr>
													<tr>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td class="actions " style="width: 80px; "><a
															href="# " class="hidden on-editing save-row "><i
																class="fa fa-save "></i></a> <a href="# "
															class="hidden on-editing cancel-row "><i
																class="fa fa-times "></i></a> <a href="# "
															class="on-default edit-row "><i class="fa fa-pencil "></i></a>
															<a href="# " class="on-default remove-row "><i
																class="fa fa-trash-o "></i></a></td>
													</tr>
													<tr>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td>xxxxxxx</td>
														<td class="actions " style="width: 80px; "><a
															href="# " class="hidden on-editing save-row "><i
																class="fa fa-save "></i></a> <a href="# "
															class="hidden on-editing cancel-row "><i
																class="fa fa-times "></i></a> <a href="# "
															class="on-default edit-row "><i class="fa fa-pencil "></i></a>
															<a href="# " class="on-default remove-row "><i
																class="fa fa-trash-o "></i></a></td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				
				
				<div class="row  ">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default bk-bg-white">
								<div class="panel-heading bk-bg-white">
									<h6><i class="fa fa-table red"></i><span class="break"></span>配件库存统计</h6>
									<div class="panel-actions">
										<a href="#" class="btn-minimize"><i class="fa fa fa-caret-up"></i></a>
										<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
									</div>
								</div>
								<div class="panel-body table-responsive" style=" background-color:#FCFCFC;">
								   
								   <div class="row" style="margin-bottom: 10px;">
										<div class="col-sm-8 col-dm-8">
											<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
											<div id="echartContiner" style="width: 100%;height:350px;"></div>
										</div>
										<div class="col-sm-4 col-dm-4">
											 
											 <div class="alert alert-warning alert-dismissable">
												<button type="button" class="close" data-dismiss="alert"
														aria-hidden="true">
													&times;
												</button>
												警告！partAAA配件库存量已经低于最低值，请及时采购。
											 </div>
											 <div class="alert alert-warning alert-dismissable">
												<button type="button" class="close" data-dismiss="alert"
														aria-hidden="true">
													&times;
												</button>
												警告！partAAA配件库存量已经低于最低值，请及时采购。
											 </div>
											 
										</div>
									</div>
								   
								</div>
							</div>
						</div>
					</div>
				
			</div>
			<!-- End Main Page -->

		</div>
	</div>
	<!--/container-->

	<!-- Pages JS -->
	<script src="assets/js/pages/table-check.js "></script>
	<!-- 自定义 JS -->
	<script type="text/javascript ">
		
		window.onload =  function(){
		    $("#dayPlanRow").prepend($("#checkInfoTable_filter").parent());
			$("#dayPlanRow").prepend($("#checkInfoTable_length").parent()); 
		}
		</script>
	<!-- end: JavaScript-->
	
		<!-- 自定义 JS -->
		<script type="text/javascript">
			$(document).ready(function() {
				
				// 基于准备好的dom，初始化echarts实例
				var myChart = echarts.init(document.getElementById('echartContiner'));
				// 指定图表的配置项和数据
				option = {
				    title: {
				        text: '配件库存量',
				        subtext: ''
				    },
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: ['现库存量', '最低库存量']
				    },
				    grid: {
				        left: '3%',
				        right: '4%',
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: ['partAAA','partAAA','partAAA']
				    },
				    series: [
				        {
				            name: '现库存量',
				            type: 'bar',
				            data: [18203, 23489, 25034]
				        },
				        {
				            name: '最低库存量',
				            type: 'bar',
				            data: [10000, 12000, 30000]
				        }
				    ]
				};

				 
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);
				
			 
			});
		</script>
		<!-- end: JavaScript-->
	

</body>
</div>
</html>