<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>tail log</title>
<script src="${ctxPath}/assets/js/jquery.js"></script>
<style>
	html,body
	{
		height:100%;
		width:100%;
	}
</style>
</head>
<body>
<div><button onclick="ddddd()">接受消息</button></div>
    <div id="log-container" style="height: 100%; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
        <div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        // 指定websocket路径
        var websocket = new WebSocket('ws://localhost:8080/truck-1/websocket/chat');
        websocket.onmessage = function(event) {
            // 接收服务端的实时日志并添加到HTML页面中
            $("#log-container div").append(event.data + "<p> </p>");
            // 滚动条滚动到最低部
            $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
        };

        websocket.onerror=function () {
            // 接收服务端的实时日志并添加到HTML页面中
            $("#log-container div").append("连接错误" + "<p> </p>");
            // 滚动条滚动到最低部
            $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
        }

        websocket.onclose=function () {
            websocket.close();
        }
        websocket.onopen=function () {
            // 接收服务端的实时日志并添加到HTML页面中
            $("#log-container div").append("连接成功" + "<p> </p>");
            // 滚动条滚动到最低部
            $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
        }

        window.onbeforeunload = function(event) {
            websocket.close();
        }
    });

    function ddddd() {
        $.ajax({
            type: "GET",
            url: "${ctxPath}/test",
            dataType: "json",
            success: function (data) {

            },
            error: function (data) {
                alert("请求失败！请检查网络,或者服务器未启动！");
            }
        });
    }

</script>
</body>
</html>