<!DOCTYPE html>
<html lang="en">

	<head>
	
		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>Register | Fire - Admin Template</title>

		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


		<!-- 引入外部CSS js 文件 -->
		#parse("includeLink.html")
		<!-- end 引入外部CSS js 文件 -->
		<script>
			$(document).ready(function(){
				$(document).ready(function(){
					#if($!{registerInfo}=="fail"){
						alert("账号注册失败！");
					}
				#end
				});
			});
			//检查注册信息
			function checkRegisterInfo() {
				var flag = false;
				if($("#realName").val().trim()==""){
					alert("真实姓名不能为空！");
					return flag;
				}
				var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
				if($("#userAccount").val().trim()==""){
					alert("账号不能为空！");
					return flag;
				}else if(reg.test($("#userAccount").val().trim())==false){
					alert("邮箱格式有误！");
					return flag;
				}
				if($("#password").val().trim()==""){
					alert("密码不能为空！");
					return flag;
				}else if($("#password").val().trim().length<6){
					alert("密码长度必须大于6！");
					return flag;
				}else if($("#password").val().trim()!=$("#passwordConfirm").val().trim()){
					alert("前后密码不一致！");
					return flag;
				}
				$("#passwordConfirm").disable();
				return true;
			}
		</script>
		<style>
			footer {
				display: none;
			}
		</style>


	</head>

	<body>
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div id="content" class="col-sm-12 full">
					<div class="row">
						<div class="register-box">
							<div class="panel">
								<div class="panel-body">										
									<div class="header bk-margin-bottom-20 text-center">										
										<img src="${ctxPath}/assets/img/logo.png" class="img-responsive" alt="" />
										<h4>账号申请</h4>
									</div>									
									<form class="form-horizontal register" action="register" method="post">
										<div class="bk-padding-left-20 bk-padding-right-20">
											<div class="form-group">
												<label>真实姓名</label>
												<input name="realName" type="text" class="form-control" placeholder="真实姓名" id="realName"/>
											</div>
											<div class="form-group">
												<label>邮箱账号</label>
												<input name="userAccount" type="email" class="form-control" placeholder="邮箱账号" id="userAccount"/>
											</div>											
											<div class="form-group">
												<div class="row">
													<div class="col-sm-6">
														<label>密码</label>
														<input name="password" type="password" class="form-control bk-margin-bottom-10" placeholder="密码" id="password"/>
													</div>
													<div class="col-sm-6">
														<label>确认密码</label>
														<input name="pwdConfirm" type="password" class="form-control bk-margin-bottom-10" placeholder="确认密码" id="passwordConfirm"/>
													</div>
												</div>
											</div>
											<div class="row bk-margin-top-20 bk-margin-bottom-10">
												<div class="col-sm-8">
												</div>
												<div class="col-sm-4 text-right">
													<button type="submit" id="btnRegister" onclick="return checkRegisterInfo();" class="btn btn-primary hidden-xs">注册</button>
													<!--<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs bk-margin-top-20">注册</button>-->
												</div>
											</div>											
											<div class="text-with-hr">
											</div>
											<p class="text-center">已经拥有账号? <a href="${ctxPath}">登录!</a>
										</div>	
									</form>									
								</div>
							</div>
						</div>
					</div>
				</div>	
				<!-- End Main Page -->	
			</div>
		</div><!--/container-->

		<!-- Pages JS -->
		<script src="${ctxPath}/assets/js/pages/page-register.js"></script>
		<script src="${ctxPath}/assets/plugins/bootkit/js/bootkit.js"></script>
	</body>
	
</html>