<!DOCTYPE html>
<html lang="en">

	<head>
	
		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>Login | Fire - Admin Template</title>
	
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- 引入外部CSS js 文件 -->
		#parse("includeLink.html")
		<!-- end 引入外部CSS js 文件 -->


		<style>
			footer {
				display: none;
			}
		</style>
		<script>
			$(document).ready(function(){
				#if($!{registerInfo}=="success"){
					alert("账号注册成功！");
				}
				#end
				#if($!{loginInfo}=="error"){
					alert("密码有误，请重新输入！");
				}
				#end
				#if($!{loginInfo}=="noUser"){
					alert("请先登录！");
				}
				#end
			});
			
			function loginCheck() {
				var flag = false;
				var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
				if($("#userAccount").val().trim()==""){
					alert("账号不能为空！");
					return flag;
				}else if(reg.test($("#userAccount").val().trim())==false){
					alert("邮箱格式有误！");
					return flag;
				}
				if($("#password").val().trim()==""){
					alert("密码不能为空！");
					return flag;
				}
				return true;
			}
		</script>
	</head>

	<body>
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div id="content" class="col-sm-12 full">
					<div class="row">
						<div class="login-box">
							<div class="panel">
								<div class="panel-body">								
									<div class="header bk-margin-bottom-20 text-center">										
										<img src="${ctxPath}/assets/img/logo.png" class="img-responsive" alt="" />
										<h4>Log In</h4>
									</div>		
									<form class="form-horizontal login" action="login" method="post">
										<div class="bk-padding-left-20 bk-padding-right-20">
											<div class="form-group">
												<label>账号</label>
												<div class="input-group input-group-icon">
													<input type="text" class="form-control bk-radius" name="userAccount" id="userAccount" placeholder="邮箱"/>
													<span class="input-group-addon">
														<span class="icon">
															<i class="fa fa-user"></i>
														</span>
													</span>
												</div>
											</div>											
											<div class="form-group">
												<label>密码</label>
												<div class="input-group input-group-icon">
													<input type="password" class="form-control bk-radius" name="password" id="password"/>
													<span class="input-group-addon">
														<span class="icon">
															<i class="fa fa-key"></i>
														</span>
													</span>
												</div>
											</div>
											<div class="row bk-margin-top-20 bk-margin-bottom-10">
												<div class="col-sm-8">
													<div class="checkbox-custom checkbox-default">
														<input id="RememberMe" name="rememberme" type="checkbox" />
														<label for="RememberMe">记住密码</label>
													</div>
												</div>
												<div class="col-sm-4 text-right">
													<button type="submit" onclick="loginCheck();" class="btn btn-primary hidden-xs">登录</button>
													<!--<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs bk-margin-top-20">登录</button>-->
												</div>
											</div>
											<div class="text-with-hr">
											</div>
											<p class="text-center">还没有账号？ <a href="page-register">马上申请</a></p>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>			
				</div>
				<!-- End Main Page -->
			</div>
		</div><!--/container-->

		<!-- Pages JS -->
		<script src="${ctxPath}/assets/js/pages/page-login.js"></script>
		<script src="${ctxPath}/assets/plugins/bootkit/js/bootkit.js"></script>
	</body>
	
</html>