<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>Advanced Table | Fire - Admin Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- 引入外部CSS js 文件 -->
    #parse("includeLink.html")
    <!-- end 引入外部CSS js 文件 -->
</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        #parse("includeSideMenu.html")
        <!-- End Sidebar -->
        <!-- Main Page -->
        <div class="main sidebar-minified">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
                        </li>
                        <li class="active"><a href="#"><i
                                class="fa fa-briefcase"></i>配件库存管理 </a></li>

                    </ol>
                </div>
                <div class="pull-right">
                    <h2>配件库存管理</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6>
                                <i class="fa fa-table red"></i><span class="break"></span>配件信息
                            </h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">

                            <div class="panel panel-default"
                                 style="margin-top: 15px; style=" border:1pxsolidred
                            ">
                            <div class="panel-heading ">
                                <div class="row " id="dayPlanRow">
                                    <div class=" col-sm-3 col-md-2 " style="text-align: right; ">
                                        <button id="addPartInfo" class="btn btn-info "
                                                type="button ">配件添加
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body ">
                                <div class="table-responsive ">
                                    <table id="partInfoTable"
                                           class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>编号</th>
                                            <th>型号</th>
                                            <th>规格</th>
                                            <th>品牌</th>
                                            <th>厂商</th>
                                            <th>出厂时间</th>
                                            <th>存库时间</th>
                                            <th>分区</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td class="actions " style="width: 80px; "><a
                                                    href="# " class="hidden on-editing save-row "><i
                                                    class="fa fa-save "></i></a> <a href="# "
                                                                                    class="hidden on-editing cancel-row "><i
                                                    class="fa fa-times "></i></a> <a href="# "
                                                                                     class="on-default edit-row "><i
                                                    class="fa fa-pencil "></i></a>
                                                <a href="# " class="on-default remove-row "><i
                                                        class="fa fa-trash-o "></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td class="actions " style="width: 80px; "><a
                                                    href="# " class="hidden on-editing save-row "><i
                                                    class="fa fa-save "></i></a> <a href="# "
                                                                                    class="hidden on-editing cancel-row "><i
                                                    class="fa fa-times "></i></a> <a href="# "
                                                                                     class="on-default edit-row "><i
                                                    class="fa fa-pencil "></i></a>
                                                <a href="# " class="on-default remove-row "><i
                                                        class="fa fa-trash-o "></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td class="actions " style="width: 80px; "><a
                                                    href="# " class="hidden on-editing save-row "><i
                                                    class="fa fa-save "></i></a> <a href="# "
                                                                                    class="hidden on-editing cancel-row "><i
                                                    class="fa fa-times "></i></a> <a href="# "
                                                                                     class="on-default edit-row "><i
                                                    class="fa fa-pencil "></i></a>
                                                <a href="# " class="on-default remove-row "><i
                                                        class="fa fa-trash-o "></i></a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>配件信息查询</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa fa-caret-up"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-sm-12 col-md-12">
                                    <form role="form">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-sm-6 col-dm-6">
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">转向架种类</span>
                                                    <select class="form-control">
                                                        <option>1号转向架</option>
                                                        <option>2号转向架</option>
                                                        <option>3号转向架</option>
                                                        <option>4号转向架</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-dm-6">
                                                <div class="form-group">
                                                    <div class="input-daterange input-group date-picker ">
																	<span class="input-group-addon"> <i
                                                                            class="fa fa-calendar"></i> 时间
																	</span> <input type="text" class="form-control"
                                                                                   name="start">
                                                        <span class="input-group-addon">到</span> <input
                                                            type="text" class="form-control" name="end">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-sm-6 col-dm-6">
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">名称</span>
                                                    <select class="form-control">
                                                        <option>1xxxxx</option>
                                                        <option>1xxxxx</option>
                                                        <option>1xxxxx</option>
                                                        <option>1xxxxx</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-dm-6">
                                                <div class="form-group">
                                                    <div class="input-group" style="margin-bottom: 10px;">
                                                        <span class="input-group-addon" id="basic-addon1">厂商</span>
                                                        <select class="form-control">
                                                            <option>xxxxx</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="bk-margin-5 btn btn-info"
                                                style="float: right; ">查询
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>查询结果</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <div id="datatable-default_wrapper" class="dataTables_wrapper no-footer">
                                <div class="row datatables-header form-inline">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="datatable-default_length"><label>
                                            <div class="select2-container" id="s2id_autogen1"><a
                                                    href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                                <span class="select2-chosen" id="select2-chosen-2">10</span><abbr
                                                    class="select2-search-choice-close"></abbr> <span
                                                    class="select2-arrow" role="presentation"><b
                                                    role="presentation"></b></span></a><label for="s2id_autogen2"
                                                                                              class="select2-offscreen"></label><input
                                                    class="select2-focusser select2-offscreen" type="text"
                                                    aria-haspopup="true" role="button"
                                                    aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                                                <div class="select2-drop select2-display-none">
                                                    <div class="select2-search select2-search-hidden select2-offscreen">
                                                        <label for="s2id_autogen2_search"
                                                               class="select2-offscreen"></label> <input type="text"
                                                                                                         autocomplete="off"
                                                                                                         autocorrect="off"
                                                                                                         autocapitalize="off"
                                                                                                         spellcheck="false"
                                                                                                         class="select2-input"
                                                                                                         role="combobox"
                                                                                                         aria-expanded="true"
                                                                                                         aria-autocomplete="list"
                                                                                                         aria-owns="select2-results-2"
                                                                                                         id="s2id_autogen2_search"
                                                                                                         placeholder="">
                                                    </div>
                                                    <ul class="select2-results" role="listbox"
                                                        id="select2-results-2"></ul>
                                                </div>
                                            </div>
                                            <select name="datatable-default_length" aria-controls="datatable-default"
                                                    class="select2-offscreen" tabindex="-1" title="">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> 每页记录数</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="datatable-default_filter" class="dataTables_filter"><label><input
                                                type="search" class="form-control" placeholder="搜索"
                                                aria-controls="datatable-default"></label></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped dataTable no-footer"
                                           id="datatable-default" role="grid" aria-describedby="datatable-default_info">
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>编号</th>
                                            <th>型号</th>
                                            <th>规格</th>
                                            <th>品牌</th>
                                            <th>厂商</th>
                                            <th>出厂时间</th>
                                            <th>存库时间</th>
                                            <th>分区</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>

                                        </tr>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>

                                        </tr>
                                        <tr>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                            <td>xxxxxxx</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row datatables-footer">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="datatable-default_info" role="status"
                                             aria-live="polite">Showing 1 to 3 of 3 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_bs_normal"
                                             id="datatable-default_paginate">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#"><span
                                                        class="fa fa-chevron-left"></span></a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li class="next disabled"><a href="#"><span
                                                        class="fa fa-chevron-right"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->

    </div>
</div>
<!--/container-->

<!-- Pages JS -->
<script src="assets/js/pages/table-part.js "></script>
<!-- 自定义 JS -->
<script type="text/javascript ">
    window.onload = function () {
        $("#dayPlanRow").prepend($("#partInfoTable_filter").parent());
        $("#dayPlanRow").prepend($("#partInfoTable_length").parent());
    }
</script>
<!-- end: JavaScript-->

</body>
</div>
</html>