<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>Advanced Table | Fire - Admin Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- 引入外部CSS js 文件 -->
    #parse("includeLink.html")
    <!-- end 引入外部CSS js 文件 -->
    <script>
        $(document).ready(function(){

        });
        //选择文件excel
        function importExcel() {
            $("#filed").click();
        }
        //上传
        function upload() {
            $("#uploadExcel").attr("enctype","multipart/form-data");
            var htmlobj = $("#uploadExcel").submit();
        }
        //提交
        function submitParts() {
            $.ajax({
                url:"insertParts",
                data:{
                    partsStr:"ssssssssss"
                },
                type:"post",
                success : function(data) {
                    if(data=="ok"){
                    alert('成功!');
                    }else {
                        alert("失败");
                    }
                },
                error : function(data) {
                    alert(data);
                }
            });
        }
        function downFile() {
            window.open("${ctxPath}/assets/res/测试表.xls");
        }
    </script>
</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        #parse("includeSideMenu.html")
        <!-- End Sidebar -->

        <!-- Main Page -->
        <div class="main sidebar-minified">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li>
                            <a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-briefcase"></i>配件excel导入
                            </a>
                        </li>

                    </ol>
                </div>
                <div class="pull-right">
                    <h2>配件excel导入</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <button type="button" class="bk-margin-5 btn btn-primary" onclick="downFile();">excel模板下载</button>
                            <form style="float: left" id="uploadExcel" name="uploadExcel" action="uploadExcel" method="post">
                                <input id="filed" type="file" name="filed" onchange="upload();" style="display: none;"/>
                            </form>
                            <button type="button" class="bk-margin-5 btn btn-primary" onclick="importExcel();">excel上传</button>

                            <div class="panel-actions" style="float: right">
                                <form action="insertParts" method="post">
                                <button type="submit" class="bk-margin-5 btn btn-primary" style="float: left">确认提交
                                </button>
                                </form>
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th>配件编号</th>
                                        <th>名称</th>
                                        <th>型号</th>
                                        <th>规格</th>
                                        <th>品牌</th>
                                        <th>厂商</th>
                                        <th>出厂时间</th>
                                        <th>厂区</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    #foreach($partsEntity in $!{partsList})
                                    <tr>
                                        <td>$!{partsEntity.partNum}</td>
                                        <td>$!{partsEntity.partName}</td>
                                        <td>$!{partsEntity.serialNum}</td>
                                        <td>$!{partsEntity.standard}</td>
                                        <td>$!{partsEntity.brand}</td>
                                        <td>$!{partsEntity.businessName}</td>
                                        <td>$!{partsEntity.produceTime}</td>
                                        <td>$!{partsEntity.partition}</td>
                                    </tr>
                                    #end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->
    </div>
</div>

</body>

</html>