<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>转向架查询</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- 引入外部CSS js 文件 -->
    #parse("includeLink.html")
    <!-- end 引入外部CSS js 文件 -->
</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        #parse("includeSideMenu.html")
        <!-- End Sidebar -->

        <!-- Main Page -->
        <div class="main sidebar-minified">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li>
                            <a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-briefcase"></i>生产信息查询
                            </a>
                        </li>

                    </ol>
                </div>
                <div class="pull-right">
                    <h2>生产信息查询</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>全部任务计划</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa fa-caret-down"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive" style="display: none;">
                            <table class="table table-bordered table-striped mb-none dataTable no-footer"
                                   id="datatable-default2" style=" overflow-x: scroll; display: block;">
                                <thead>
                                <tr>
                                    <th>订单类型</th>
                                    <th>完工与否</th>
                                    <th>销售单号</th>
                                    <th>计划总量</th>
                                    <th>成品总量</th>
                                    <th>待产总量</th>
                                    <th>次品总量</th>
                                    <th>原定完成日</th>
                                    <th>生产日期</th>
                                    <th>完成日期</th>
                                    <th>审核</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody  >
                                #foreach($truckPlanOne in $truckPlanEntityList)
                                <tr class="gradeX">
                                    <td style="min-width: 160px;">$!{truckPlanOne.truckType}</td>
                                    <td style="min-width: 100px;">
                                        #if($truckPlanOne.isFinish)
                                        <span class="label label-default">已完成</span>
                                        #else
                                        <span class="label label-warning">未完成</span>
                                        #end
                                    </td>
                                    <td style="min-width: 120px;">$!{truckPlanOne.planNumber}</td>
                                    <td style="min-width: 100px;">$!{truckPlanOne.planVolume}</td>
                                    <td style="min-width: 100px;">$!truckPlanOne.goodVolume</td>
                                    <td style="min-width: 100px;">$!truckPlanOne.remainVolume</td>
                                    <td style="min-width: 100px;">$!truckPlanOne.badVolume</td>
                                    <td style="min-width: 100px;"  >$!truckPlanOne.strPlanDate</td>
                                    <td style="min-width: 120px;">$!truckPlanOne.strProduceDate</td>
                                    <td style="min-width: 120px;">$!truckPlanOne.strFinishDate</td>
                                    <td style="min-width: 120px;">$!truckPlanOne.check</td>
                                    <td style="min-width: 120px;">$!truckPlanOne.remark</td>
                                    <td style="min-width: 100px;">
                                        <a href="#" class="on-default remove-row" onclick="selectTruck($!truckPlanOne.planId)"><i class="fa fa-table red"></i></a>
                                    </td>
                                </tr>
                                #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>转向架查询</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa fa-caret-up"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <form role="form">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-sm-6 col-dm-6">
                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <span class="input-group-addon" id="basic-addon1">转向架种类</span>
                                            <select class="form-control" name="techType" id="techType">
                                                <option value="0">全部转向架</option>
                                                <option value="1">CRH3系列动车组转向架</option>
                                                <option value="2">A/B/C型地铁转向架</option>
                                                <option value="3">SW-220K部备车转向架</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-dm-6">
                                        <div class="form-group">
                                            <div class="input-daterange input-group date-picker ">
														<span class="input-group-addon">
																<i class="fa fa-calendar"></i> 时间
															</span>
                                                <input type="text" class="form-control" name="start">
                                                <span class="input-group-addon">到</span>
                                                <input type="text" class="form-control" name="end">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <button type="button" class="bk-margin-5 btn btn-info" style="float: right; ">查询
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>查询结果</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-bordered table-striped dataTable no-footer" id="datatable-default"
                                   role="grid" aria-describedby="datatable-default_info">
                                <thead>
                                <tr>
                                    <th>批次</th>
                                    <th>类型</th>
                                    <th>状态</th>
                                    <th>生产日期</th>
                                </tr>
                                </thead>
                                <tbody id="id-tbody">
                                #foreach($truckOne in $truckEntityList)
                                <tr class="gradeX">
                                    <td >$!truckOne.batch</td>
                                    <td >$!truckOne.type</td>
                                    <td>
                                        #if($truckOne.state)
                                        <span class="label label-default">成品</span>
                                        #else
                                        <span class="label label-warning">次品</span>
                                        #end
                                    </td>
                                    <td >$!truckOne.date</td>
                                </tr>
                                #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Main Page -->

    </div>
</div>
<!--/container-->

<!-- Pages JS -->
<script src="${ctxPath}/assets/js/pages/table-editable.js"></script>

<!-- 自定义 JS -->
<script type="text/javascript ">
    //			   $(function () {
    //			        $(".datepicker").datepicker({
    //			            language: "zh-CN",
    //			            autoclose: true,//选中之后自动隐藏日期选择框
    //			            clearBtn: true,//清除按钮
    //			            todayBtn: true,//今日按钮
    //			            format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
    //			        });
    //			    });

    //			 	$(".date-picker").datepicker({
    //				    language: "zh-CN",
    //				    autoclose: true
    //				});
</script>
<!-- end: JavaScript-->

</body>

</html>