<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>Advanced Table | Fire - Admin Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- 引入外部CSS js 文件 -->
    #parse("includeLink.html")
    <!-- end 引入外部CSS js 文件 -->

</head>

<body>
<!-- Start: Header -->
#parse("includeHeader.html")
<!-- End: Header -->

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        #parse("includeSideMenu.html")
        <!-- End Sidebar -->
        <!-- Main Page -->
        <div class="main sidebar-minified">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li>
                            <a href="willDoPlan.html"><i class="icon fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-briefcase"></i>用户与权限管理
                            </a>
                        </li>

                    </ol>
                </div>
                <div class="pull-right">
                    <h2>用户与权限管理</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>用户与权限管理</h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-bordered table-striped" id="datatable-default">
                                <thead>
                                <tr>
                                    <th>用户编号</th>
                                    <th>用户名称</th>
                                    <th>登录密码</th>
                                    <th>真实姓名</th>
                                    <th>电话</th>
                                    <th>家庭住址</th>
                                    <th>职位(角色)</th>
                                    <th>所属部门</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="id-tbody">
                                <tr class="gradeX">
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="actions">
                                        <a href="#" class="on-default edit-row" data-toggle="modal"
                                           data-target="#planModal"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>

                                <tr class="gradeX">
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="actions">
                                        <a href="#" class="on-default edit-row" data-toggle="modal"
                                           data-target="#planModal"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <tr class="gradeX">
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="center">xxxxxx</td>
                                    <td class="actions">
                                        <a href="#" class="on-default edit-row" data-toggle="modal"
                                           data-target="#planModal"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->
        <!-- 	描述：添加任务修改任务的模态框 -->
        <div class="modal fade bs-example-modal-lg" id="planModal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document" style="width: 950px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">添加用户</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--<div class="form-group">
                                <label for="recipient-name" class="control-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>-->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-dm-12">
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">用户编号</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">用户名称</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">登录密码</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">真实姓名</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-6 col-md-6">
                                        <div class="raw">

                                            <div class=" col-sm-12 col-md-12">
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">电话</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">职位(角色)</span>
                                                    <select class="form-control">
                                                        <option>超级管理员</option>
                                                        <option>操作员</option>
                                                        <option>库存员</option>
                                                        <option>检验员</option>
                                                    </select>
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">所属部门</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 10px;">
                                                    <span class="input-group-addon" id="basic-addon1">家庭住址</span>
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="panel panel-default" style="margin-top: 15px; padding:0px 15px; >
											<div class=" panel-heading
                        ">
                        <div class="row>
													<div>
														角色职能列表
													</div>
												</div>
											</div>
											<div class=" panel-body
                        ">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                <tr>
                                    <th>角色名称</th>
                                    <th>角色职能描述</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>xxxxxx</td>
                                    <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxx</td>
                                    <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxx</td>
                                    <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal ">关闭</button>
                <button type="button " class="btn btn-primary ">保存</button>
            </div>
        </div>
        <!-- End 添加任务修改任务的模态框-->

    </div>
</div>
<!--/container-->

<!-- Pages JS -->
<script src="assets/js/pages/table-advanced.js "></script>
<!-- 自定义 JS -->
<script type="text/javascript ">
    window.onload = function () {
        $("#datatable-default_filter").parent().after('<div class="col-sm-3 col-md-2 ">' +
                '<div class="bk-margin-bottom-10 " style="text-align: right; ">' +
                '<button class="btn btn-info " type="button"  data-toggle="modal" data-target="#planModal">添加用户</button>' +
                '</div>' +
                '</div>');
    }
</script>
<!-- end: JavaScript-->

</body>

</html>